# Pastillas de programación (Python): Navegando el dataframe con Pandas

Este post se ubica en un medio camino entre tutorial y cheat sheet, está dirigido a quienes ya saben algo de Python y Pandas pero aún no tienen tanta practica y necesitan una guía rápida.<br>
No me voy a detener en explicaciones largas ni voy a detallar las distintas opciones que hay para hacer lo mismo o algo muy parecido. Todo eso ya está disponible en otros artículos y video tutoriales.<br>
Pueden descargar el código y el dataset desde el siguiente link: https://github.com/agus-ph/mediumpost_navegando_dataframe.git <br>
Sin mas vueltas, ahí vamos:

### Cargamos la librería, traemos los datos y vemos que pinta tiene el dataset

In [1]:
import pandas as pd
df = pd.read_excel("dataset_muestra.xlsx")
df.head(10)

        Date    Client     Product  Net Price  Sales Tax
0 2022-08-01  Client A      Led TV        227       22.7
1 2022-08-01  Client B  Smartphone        549       54.9
2 2022-08-01  Client C     Blender         34        3.4
3 2022-08-01  Client F  Hair dryer        110       11.0
4 2022-08-02  Client G  Headphones        170       17.0
5 2022-08-02  Client D    Notebook        709       70.9
6 2022-08-02  Client A  Smartphone        549       54.9
7 2022-08-02  Client E  Smartphone        549       54.9
8 2022-08-03  Client H  Smartphone        549       54.9
9 2022-08-03  Client F     Trimmer         47        4.7

### Supongamos que queremos imprimir solo el segundo registro de la columna "Product"
#### Primero lo vamos a hacer con la función .loc

In [2]:
df.loc[1 , ["Product"]]

Product    Smartphone
Name: 1, dtype: object

#### Y ahora lo hacemos con la función .iloc

In [3]:
df.iloc[1 , 2]

'Smartphone'

### Ahora veamos distintas maneras de seleccionar filas
#### Seleccionar por índice de fila

In [4]:
df.iloc[[3]]

        Date    Client     Product  Net Price  Sales Tax
3 2022-08-01  Client F  Hair dryer        110       11.0

#### Seleccionemos filas por lista de índices

In [5]:
df.iloc[[1,3,5]]

        Date    Client     Product  Net Price  Sales Tax
1 2022-08-01  Client B  Smartphone        549       54.9
3 2022-08-01  Client F  Hair dryer        110       11.0
5 2022-08-02  Client D    Notebook        709       70.9

#### Seleccionar filas por rango de índices

In [6]:
df.iloc[1:4]

        Date    Client     Product  Net Price  Sales Tax
1 2022-08-01  Client B  Smartphone        549       54.9
2 2022-08-01  Client C     Blender         34        3.4
3 2022-08-01  Client F  Hair dryer        110       11.0

Si nuestras filas tuviesen un nombre en lugar del índice que le pone Pandas por defecto podríamos hacer algo similar con la función .loc. Ahora lo vamos a ver con las columnas.

### Veamos distintas maneras de seleccionar columnas con .loc e iloc.

Para que no imprima las columnas completas vamos a limitar el rango de filas hasta la quinta fila

#### Por índice de columna

In [7]:
df.iloc[:5 , [2]]

      Product
0      Led TV
1  Smartphone
2     Blender
3  Hair dryer
4  Headphones

#### Por lista de índices

In [8]:
df.iloc[:5 , [1,3,4]]

     Client  Net Price  Sales Tax
0  Client A        227       22.7
1  Client B        549       54.9
2  Client C         34        3.4
3  Client F        110       11.0
4  Client G        170       17.0

#### Por rango de índices

In [9]:
df.iloc[:5 , 1:4]

     Client     Product  Net Price
0  Client A      Led TV        227
1  Client B  Smartphone        549
2  Client C     Blender         34
3  Client F  Hair dryer        110
4  Client G  Headphones        170

### Ahora vamos a hacer lo mismo pero utilizando el nombre de las columnas con .loc

#### Imprimimos una columna especifica por su nombre

In [10]:
df.loc[:5 , ["Product"]]

      Product
0      Led TV
1  Smartphone
2     Blender
3  Hair dryer
4  Headphones
5    Notebook

#### Por lista de nombres

In [11]:
df.loc[:5 , ["Client","Net Price","Sales Tax"]]

     Client  Net Price  Sales Tax
0  Client A        227       22.7
1  Client B        549       54.9
2  Client C         34        3.4
3  Client F        110       11.0
4  Client G        170       17.0
5  Client D        709       70.9

#### Por rango de nombre

In [12]:
df.loc[:5 , "Client":"Net Price"]

     Client     Product  Net Price
0  Client A      Led TV        227
1  Client B  Smartphone        549
2  Client C     Blender         34
3  Client F  Hair dryer        110
4  Client G  Headphones        170
5  Client D    Notebook        709

### Muy bien, eso fue todo por ahora. Nos vemos en el próximo post!